snippet ifs
if (${1})
	${0}
endsnippet

# if (nullptr == )
snippet ifn
if (nullptr == ${1}) {
	${0}
}
endsnippet

# if (nullptr == )
snippet ifns
if (nullptr == ${1})
	${0}
endsnippet

# vector<T>
snippet veci
vector<${1}> ${0};
endsnippet
